body{
  background-color: #4280d7;
  color: #ffffff;
  display: block;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
nav{
  margin: 0;
}
ul{
  background-color: #5094fc;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5em;
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
  text-align: center;
}
ul li{
  margin: .75em 0;
}
li{
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  line-height: 55px;
}
li a{
  color: #ffffff;
  padding: 20px 20px;
  text-decoration: none;
}
a.background:hover, a.background:active{
  background-color: #4588e5;
}
input[type=text]{
  background-color: #4588e5;
  background-image: url(search-glass.png);
  background-position: 15px 15px;
  background-repeat: no-repeat;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 17px;
  margin: 8px 16px;
  padding: 20px;
  padding-left: 60px;
}
::placeholder{
  color: #ffffff;
}
.logo{
  background-color: #5094fc;
  background-image: url(logo.png);
  background-position: 100 0;
  background-repeat: no-repeat;
  background-size: 90% 90%;
  margin-right: 9px;
  padding: 10px 55px;
}
a.logo:hover, a.logo:active{
  background-size: 100% 100%;
}
